* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

div h2 {
  color: red;
  font-size: 2em;
}

.navbar {
  background: #fff;
  height: 15vh;
  width: 100vw;
}

.banner {
  background-color: #010209;
  height: calc(100vh - 15vh);
  width: 100vw;
  color: #fff;
}

button {
  background: red;
  color: white;
}

h1 {
  font-size: 3em;
}
